{% extends 'base.html.twig' %}

{% block title %}CityGovJobs City Registration Reset Password{% endblock %}

{% block body_master_container_class %}container{% endblock %}
{% block body_master_row_class %}bg-white px-5 my-5 justify-content-center{% endblock %}
{% block body_master_column_class %}container px-5 py-5 px-xs-2 {% endblock %}

{% block body_main %}
    <div class="row">
        <div class="col-md-12 pb-3 text-center">
            {{ include('cms_block/_cms_block.html.twig', { 'slug': 'city-user-registration-complete-account-setup-top' }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {{ form_start(form) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.plainPassword) }}
            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" id="reset_password_agreeTermsOfUseAgreement" name="reset_password[agreeTermsOfUseAgreement]" required="required" class="form-check-input">
                    <label class="form-check-label required" for="reset_password_agreeTermsOfUseAgreement"> I agree to the <a href="{{ path('terms_of_use') }}">Terms of Use Agreement.</a></label>
                </div>
            </div>
            {{ form_row(form._token) }}
            {{ form_row(form.next) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>

{% endblock %}
