{% extends 'base.html.twig' %}

{% block title %}CityGovJobs City Job Resume{% endblock %}

{% block body_master_row_class %}{% endblock %}
{% block body_master_column_class %}{% endblock %}

{% block body_top %}
    <div class="row bg-white justify-content-center">
        <div class="col-10 mx-5 py-3 bg-white">
            <h2>Search Resumes</h2>
            {% set m = knp_menu_get( 'cityUserResumeMenu' ).setChildrenAttribute('class', 'nav nav-pills') %}
            {{ knp_menu_render(m) }}
        </div>
    </div>
{% endblock %}

{% block body_main %}
    <div class="row bg-secondary justify-content-center">
        <div class="col-10 m-4 p-4 bg-white">
            <div class="row">
                <div class="col-md-12 text-right">
                    Showing {{ pagination.paginationData.firstItemNumber }} - {{ pagination.paginationData.lastItemNumber}} of {{ pagination.paginationData.totalCount }}
                </div>
            </div>
            <div class="row bg-white py-3">
                <div class="col-lg-3 col-sm-12 bg-white mb-3">
                    <div class=" col-12 bg-light py-3">
                        {{ form_start(filterForm) }}
                        <input type="submit" class="btn btn-primary btn-block sticky my-1" value="Search">
                        {{ form_rest(filterForm) }}
                        <a class="btn btn-light" href="{{ path('city_resume_search', {'reset': 1}) }}">Reset</a>
                    </div>
                </div>
                <div class="col-lg-9 col-sm-12" style="overflow:scroll;">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-striped">
                                <tr>
                                    {# sorting of properties based on query components #}
                                    <th{% if pagination.isSorted('resume.firstname') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Name', 'resume.firstname') }}
                                    </th>
                                    <th{% if pagination.isSorted('resume.state') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Residence', 'resume.state') }}
                                    </th>
                                    <th class="text-center">
                                        Job Categories
                                    </th>
                                    <th{% if pagination.isSorted('resume.yearsWorkedInCityGovernment') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Yrs. Ex.', 'resume.yearsWorkedInCityGovernment') }}
                                    </th>
                                    <th{% if pagination.isSorted('resume.highestEducationLevel') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Education', 'resume.highestEducationLevel') }}
                                    </th>
                                    <th>Actions</th>
                                </tr>
                                {% for resume in pagination %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('job_seeker_view_resume', {'id': resume.id}) }}">
                                                {{ resume.fullname }}
                                            </a>
                                        </td>
                                        <td>{{ resume.city.name }}, {{ resume.state|abbreviate }}</td>
                                        <td class="text-center">
                                            {% set categories = resume.interestedJobCategories %}
                                            {% if categories | length > 0 %}
                                                {% set firstCategory = categories|first %}
                                                <span>{{ firstCategory }}</span>
                                                {% set moreCategories = '' %}
                                                {% for category in categories %}
                                                    {% if category != firstCategory %}
                                                        {% set moreCategories = moreCategories ~ category %}
                                                        {% if not loop.last %}
                                                            {% set moreCategories = moreCategories ~  ', ' %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                {% if categories | length > 1 %}
                                                    <span class="text-muted" data-toggle="tooltip" data-placement="bottom" title="{{ moreCategories }}">and more</span>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {{ resume.yearsWorkedInCityGovernment }}
                                        </td>
                                        <td class="text-center">
                                            {{ resume.highestEducationLevel }}
                                        </td>
                                        <td>
                                            {% if resume.id in savedResumes %}
                                                <span class="text-muted">Saved</span>
                                            {% else %}
                                                <a href="{{ path('city_resume_save', {'id': resume.id})}}"><i class="fa fa-save"></i> Save</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="col-12">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>

            </div>
    </div>
{% endblock %}