<div class="row ajax-form">
    <div class="col-md-12">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-7">
                {{ form_row(form.yearsWorkedInProfession) }}
                {{ form_row(form.currentJobTitle) }}
                <div>
                    <label class="required">Education</label>
                    {% form_theme form 'job_seeker/resume/education_theme.html.twig' %}
                    {{ form_widget(form.education) }}
                </div>
            </div>
            <div class="col-md-5">
                {{ form_row(form.yearsWorkedInCityGovernment) }}
                <div>
                    <label>Licenses/Certifications</label>
                    {% form_theme form 'job_seeker/resume/license_certification_theme.html.twig' %}
                    {{ form_widget(form.licenseCertifications) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form._token) }}
                <button type="button" class="btn btn-light cancel-btn">Cancel</button>
                <button type="submit" class="btn btn-primary save-btn">Save</button>
            </div>
        </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('build/collection.js') }}"></script>
{% endblock %}
